<!DOCTYPE html>
<html>
    <head>
        <title>Ledger</title>
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body ng-app="category" ng-controller="MainCtrl">
        <div class="container">
            <div class="jumbotron">
                <h1>Ledger</h1>
                <p>This is a simple ledger that replaces the traditional check book.</p>
                <hr />
                <p>Developed by Bob Kelecava using mongoDB, Express, AngularJS, and Node.js</p>
            </div>
        </div>

        <!-- Javascript includes -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        
    </body>
</html>